#carrossel1-Slides {
  width: 50%;
  margin: 100px 0px 100px 0px;
  transition: 1s;
}
#carrossel2-Slides {
  width: 50%;
  margin: 100px 0px 100px 0px;
  transition: 1s;
}
#carrossel3-Slides {
  width: 50%;
  margin: 100px 0px 100px 0px;
  transition: 1s;
}
#carrossel4-Slides {
  width: 50%;
  margin: 100px 0px 0px 0px;
  transition: 1s;
  filter: drop-shadow(0 0 10 black);
}
hr {
  background-color: black;
}
img {
  border-radius: 50px;
}
center {
  background-color: #8fbbaf;
}
body {
  background-color: #8fbbaf;
}
p {
  padding: 10px;
}
